extends ../layout/layout

block content
  .container
    .row.valign-wrapper.page-container
      .card.white.col.m6.offset-m3.s12.z-depth-2
        .card-content.black-text
          span.card-title Confirm Error
          p 
            | Sorry, this link does not work anymore,
            | could you resend the confirm link to your email again please
          p Tips: Valid for five minutes
        .card-action.right-align
          a.resend-confirm(href='/confirm/resend') click here to resend

block scripts
  script(src='/javascripts/confirm/resend.js')
