extends ../layout/layout

block content
  .container
    .row.valign-wrapper.page-container
      .card.white.col.m6.offset-m3.s12.z-depth-2
        .card-content.black-text
          span.card-title Confirm Error
          p
            | Sorry, this link does not work,
            | could you please check whether this link is complete or maybe overdue.
            | if missing or overdue, you could only resubmit your request.
          p Tips: Valid for five minutes
