ul#dropdown-logined.dropdown-content
  li
    a.deep-purple-text(href='/users/setting') Settings
  li.divider
  li
    a.deep-purple-text(href='/logout') Sign out
ul.right.hide-on-med-and-down
  li
    a.dropdown-button(href='', data-activates='dropdown-logined') #{username}