extends ../layout/layout

block content
  .slider
    ul.slides
      li
        img(src='/images/slider-1.jpg')
        // random image
        .caption.center-align
          h3 This is our big Tagline!
          h5.light.grey-text.text-lighten-3 Here's our small slogan.
      li
        img(src='/images/slider-2.jpg')
        // random image
        .caption.left-align
          h3 Left Aligned Caption
          h5.light.grey-text.text-lighten-3 Here's our small slogan.
      li
        img(src='/images/slider-3.jpg')
        // random image
        .caption.right-align
          h3 Right Aligned Caption
          h5.light.grey-text.text-lighten-3 Here's our small slogan.
