extends ../layout/layout

block content
  .slider
    ul.slides
      li
        img(src='/images/slider-1.jpg')
        .caption.center-align
          h3 This is a simple blog
          h5.light.grey-text.text-lighten-3 Built by Express and MongoDB 
      li
        img(src='/images/slider-2.jpg')
        .caption.left-align
          h3 We still have a lot of unfinished functions
          h5.light.grey-text.text-lighten-3 messages? feedback?
      li
        img(src='/images/slider-3.jpg')
        .caption.right-align
          h3 Are you willing to help us?
          h5.light.grey-text.text-lighten-3 Look forward to your valuable suggestions
