.card.white.collection-item
  .card-content.white-text
    a.card-title.black-text(href='#') Card Title
    a.black-text.truncate(href='#')
      | I am a very simple card. I am good at containing small bits of information.
  .card-action.right-align
    span.left #{publish-time}
    a(href='#') readmore
    a(href='#') Comment