a.collection-item.avatar.black-text.darken-4(href='#')
  i.material-icons.circle.red insert_chart
  span.title.truncate articleTitle
  p.truncate commentcommentcommentcommentcomment
  p 2016-11-12 19:00
