a.collection-item.avatar.black-text.darken-4(href='#')
  i.mdi-av-play-arrow.circle.red
  span.title.truncate articleTitle
  p.truncate commentcommentcommentcommentcomment
  p 2016-11-12 19:00
  a.secondary-content(href='#!')
    i.mdi-action-grade