
#tab-information .input-field label {
  font-size: 22px;
}

#tab-information .input-field input {
  font-size: 20px;
}

#tab-information .avatar-list img {
  width: 100%;
}

#tab-information .avatar-list img:hover {
  transition: all 0.2s;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
